<div id="<%= dom_id feedback %>">
  <tbody>
    <tr>
      <% @user = User.find_by(id: feedback.commentor_id)%>
      <td><%= @user&.full_name || "Unknown User"%></td>
      <td><%= feedback.comments%></td>
      <td><%= feedback.grades%></td>
      <td>
        <% if current_user.id.to_i == feedback.commentor_id.to_i%>
          <%= link_to href="/feedbacks/#{feedback.id}/edit" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16" style="margin-left: 8px; margin-right: 8px;">
              <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
            </svg>
          <% end %>
        <% end %>

        <% if current_user.instructor? %>
          <a href="#" class="text-primary" data-bs-toggle="modal" data-bs-target="#feedbackDeleteModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
            </svg>
          </a>
        <% end %>

        <%= link_to href="/feedbacks/#{feedback.id}" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16" style="margin-left: 5px;">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
          </svg>
        <% end %>
      </td>
    </tr>
  </tbody>
</div>

<div class="modal fade" id="feedbackDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Feedback</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the following feedback?
          <br><br>
          <div class="d-flex justify-content-center">
            <div class="card">
              <div class="card-body">
                <% @user = User.find_by(id: feedback.commentor_id)%>
                <p class="card-text style="white-space: nowrap;"><strong>Commentor Name: </strong><%= @user.full_name %></p>
                <p class="card-text style="white-space: nowrap;"><strong>Comment: </strong><%= feedback.comments %></p>
                <p class="card-text style="white-space: nowrap;"><strong>Grade: </strong><%= feedback.grades %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= form_with url: "/feedbacks/#{feedback.id}", method: :delete, id: "delete_form" do %>
            <%= submit_tag "Delete", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



